body {
    background-color: white;
    font-family: sans-serif; 
}

.encabezado {
    background-color: beige;
    display: flex;
    max-width: 2180px;
    width: 90%;
    border: solid black 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    margin: 15px auto;
}

.encabezado-imagen {
    margin: 10px;
}

.encabezado-titulo {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 28px;
    font-weight: 600;
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
}

main {
    max-width: 2180px;
    width: 90%;
    margin: 15px auto;
}

.div-fotos{
    text-align: center;
}

.fotos {
    width: auto;
    height: 250px;
}

.contenedor-whatsapp, .contenedor-instagram {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.fa-whatsapp, .fa-instagram {
    font-size: 30px;
    color: black;
    align-items: center;
}
.num-whatsapp, .cuenta-instagram {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 9px;
}

.pie-pagina {
    max-width: 2180px;
    width: 90%;
    border: solid black 10px;
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    margin: 15px auto;
}

.contacto {
    padding: 0px 25px;
    margin: 15px auto;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
    body {
        width: 90%;
    }
    
    .encabezado {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .div-fotos {
        display: inline;
        width: 80%;
        box-sizing: border-box;
        text-align: center;
    }

    .fotos {
        width: 100%;
        height: auto;
    }

    .encabezado-titulo {
        margin: 10px 0 0 0; /* reset del auto */
    }

    h1 {
        font-size: 22px;
    }
}